<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
         <record id="apikey_tree_view" model="ir.ui.view">
             <field name="name">API keys</field>

             <field name="model">api.keys</field>

             <field name="arch" type="xml">

                       <tree string="Api Keys">

                      <field name="name"/>
<!--                      <field name="name"/>-->

                      <field name="apikey"/>
                      <field name="create_date"/>




                        </tree>

              </field>

           </record>
        <record id="apikey_free_view" model="ir.ui.view">
                <field name="name">API Keys</field>
                <field name="model">api.keys</field>
                <field name="arch" type="xml">
                          <form string="Student">
                                <sheet>
                            <group>
                                <group>
                                    <field name="name"/>
                                    <field name="apikey"/>
                                   <field name="create_date"/>

                                        </group>

                                    </group>

                           </sheet>

                    </form>

                </field>

                </record>
<!--        start of sender id-->
        <record id="sender_tree_view" model="ir.ui.view">
             <field name="name">Sender Ids</field>

             <field name="model">sender.id</field>

             <field name="arch" type="xml">

                       <tree string="Sender Ids">

                      <field name="name"/>
                           <field name="create_date"/>





                        </tree>

              </field>

           </record>
        <record id="senderid_free_view" model="ir.ui.view">
                <field name="name">Sender Ids</field>
                <field name="model">sender.id</field>
                <field name="arch" type="xml">
                          <form string="Student">
                                <sheet>
                            <group>
                                <group>
                                    <field name="name"/>



                                        </group>

                                    </group>

                           </sheet>

                    </form>

                </field>

                </record>

    </data>
</odoo>