<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <record id="send_text_menu_action" model="ir.actions.act_window">
            <field name="name">Send SMS</field>
            <field name="res_model">send.text</field>
            <!-- <field name="view_type">form</field> -->
            <field name="view_mode">kanban,tree,form</field>
            <field name="domain">[]</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Send First SMS
                </p>
            </field>
        </record>
        <record id="outbox_text_menu_action" model="ir.actions.act_window">
            <field name="name">Outbox</field>
            <field name="res_model">sent.text</field>
            <!-- <field name="view_type">form</field> -->
            <field name="view_mode">kanban,tree,form</field>
            <field name="domain">[]</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Outbox is empty
                </p>
            </field>
        </record>
        <record id="apis_menu_action" model="ir.actions.act_window">
            <field name="name">API keys</field>
            <field name="res_model">api.keys</field>
            <!-- <field name="view_type">form</field> -->
            <field name="view_mode">tree,form</field>
            <field name="domain">[]</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Create API key
                </p>
            </field>
        </record>
        <record id="senderid_menu_action" model="ir.actions.act_window">
            <field name="name">Sender Ids</field>
            <field name="res_model">sender.id</field>
            <!-- <field name="view_type">form</field> -->
            <field name="view_mode">tree,form</field>
            <field name="domain">[]</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Create The First Student
                </p>
            </field>
        </record>
        <record id="roycecontacts_menu_action" model="ir.actions.act_window">
            <field name="name">Contacts</field>
            <field name="res_model">royce.contacts</field>
            <!-- <field name="view_type">form</field> -->
            <field name="view_mode">tree,kanban,form</field>
            <field name="domain">[]</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Create The First Contacts
                </p>
            </field>
        </record>
        <record id="roycecontactgroup_menu_action" model="ir.actions.act_window">
            <field name="name">Contact Groups</field>
            <field name="res_model">royce.contactgroups</field>
            <!-- <field name="view_type">form</field> -->
            <field name="view_mode">tree,form</field>
            <field name="domain">[]</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Create First contact Group
                </p>
            </field>
        </record>
        <record id="roycegrouptext_menu_action" model="ir.actions.act_window">
            <field name="name">Contact Groups</field>
            <field name="res_model">royce.grouptext</field>
            <!-- <field name="view_type">form</field> -->
            <field name="view_mode">tree,form</field>
            <field name="domain">[]</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Send group text
                </p>
            </field>
        </record>

         <menuitem id="mainbulksmsmenu" name="Bulk SMS" />
        <menuitem id="sendbulksms" parent="mainbulksmsmenu" name="Bulk SMS" />
                <menuitem id="outboxsmssenderids" parent="sendbulksms" name="Outbox"
          action="outbox_text_menu_action" />
        <menuitem id="sendsinglesms" parent="sendbulksms" name="Send SMS"
                  action="send_text_menu_action" />
        <menuitem id="sendgroupsms" parent="sendbulksms" name="Send Group SMS"
                  action="roycegrouptext_menu_action" />


        <menuitem id="roycecontacts" parent="mainbulksmsmenu" name="Contacts" />
        <menuitem id="myrcontacts" parent="roycecontacts" name="Contacts"
                  action="roycecontacts_menu_action" />
        <menuitem id="roycecontactsgroup" parent="roycecontacts" name="Contact Groups"
          action="roycecontactgroup_menu_action" />




        <menuitem id="configbulksms" parent="mainbulksmsmenu" name="Config" />
        <menuitem id="bulksmsapikeys" parent="configbulksms" name="Api Keys"
                  action="apis_menu_action" />
        <menuitem id="bulksmssenderids" parent="configbulksms" name="Sender Ids"
                  action="senderid_menu_action" />

    </data>
</odoo>